@use "tailwindcss";
@use "./variables" as *;
@use "./fonts.scss";

// body {
// background: rgb(140, 79, 79);
// }

html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-box) transparent;
  background-color: var(--color-background);
}
